@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  min-height: 100dvh;

  font-family: "Overpass", sans-serif;
  font-weight: 400;

  background-color: hsl(216, 12%, 8%);
}
.card {
  background-color: hsl(213, 19%, 18%);
  width: 30rem; /* %90'dan büyük olmasın */
  border-radius: 2rem;
  padding: 2rem;
}

h1 {
  color: hsl(0, 0%, 100%);
  margin-top: 3rem;
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
p {
  color: hsl(217, 12%, 63%);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.rate {
  color: hsl(217, 12%, 63%);
}
button {
  color: hsl(216, 12%, 8%);
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 10rem;
  letter-spacing: 2;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 100%);
}
.rating-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  cursor: pointer;
}

.circle-container:hover {
  background-color: hsl(0, 0%, 100%); /* Sarımsı bir renk */
  color: hsl(216, 12%, 8%);
}

.circle-container {
  height: 35px;
  aspect-ratio: 1;
  background-color: hsl(213, 19%, 25%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
}
.circle-container img {
  height: 1rem;
}
.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
}
.circle-container.active:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
}
.thanks {
  text-align: center;
}

.thanks img {
  width: 50%;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.summary {
  display: inline-block;
  padding: 7px 2rem;
  color: hsl(25, 97%, 53%);
  font-size: 1rem;
  background-color: hsl(213, 19%, 25%);
  border-radius: 100rem;
}

@media (max-width: 767px) {
  body {
    height: 100dvh;
  }
}
